Source: myaptkey
Section: unknown
Priority: extra
Maintainer: Masahiro Hayashi <mhayashi1120@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.mhayashi1120.net/
#Vcs-Git: git://git.debian.org/collab-maint/myaptkey.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/myaptkey.git;a=summary

Package: myaptkey
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mhayashi1120 gpg key to import apt keyring
 GPG key for apt

